@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('/web.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
        background-size: cover;
}


/* Custom selector colour */
::-moz-selection {
    /* Code for Firefox */
    color: rgb(255, 255, 255);
    background: rgb(165, 126, 255);
}

::selection {
    color: rgb(255, 255, 255);
    background: rgb(165, 126, 255);
}

/* glass box */
.glass-box {
    /* padding: 100px; */
    /* margin: auto; */
    /* width: 100%; */
    /* height: 100%; */
    background: rgba(158, 158, 158, 0.25);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(135, 135, 135, 0.1);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
    border: 1px solid rgb(255, 255, 255);
}

/* footer glass effect */
.footer_glass {
    background: rgba(0, 0, 0, 0.75);
        box-shadow: 0 8px 32px 0 rgba(28, 28, 28, 0.37);
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
        border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Card */
.article-card {
    width: 350px;
    height: 220px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 300ms;
}

.article-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 14px 28px rgb(183, 121, 255), 0 10px 10px rgb(255, 255, 255);
}

.article-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article-card .content {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    padding: 30px 20px 20px 20px;
    height: auto;
    bottom: 0;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
}

.article-card .date,
.article-card .title {
    margin: 0;
}

.article-card .date {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 4px;
}

.article-card .title {
    font-size: 17px;
    color: #fff;
}

/* Shadow */
.shadow_guju {
    transition: box-shadow .3s;
    border-radius: 5px;
}

.shadow_guju:hover {
    /* box-shadow: 0 0 11px rgb(232, 174, 255); */
    box-shadow: 0 14px 28px rgb(183, 121, 255),
        0 10px 10px rgb(47, 47, 47);
    color: white;
    transform: translateY(-5px);
}

.shadow_guju_svg:hover {
    filter: drop-shadow(3px 5px 2px rgba(255, 255, 255, 0.642));
}

/* Highlighting */
strong {
    position: relative;
}

strong::before {
    /* Highlight color */
    background-color: #bb68f2;

    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: 60%;
    left: -2px;
    bottom: 0;
    z-index: -1;
    transform: rotate(-2deg);
}

/* Scrolling animation */
.scroll-downs {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    width: 34px;
    height: 55px;
}

.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}

.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }

    10% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}

/* Flicking animation */
.flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes blink {
    0%,
    22%,
    36%,
    75% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
            -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
            0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
    28%,
    33% {
        color: #ff65bd;
        text-shadow: none;
    }
    82%,
    97% {
        color: #ff2483;
        text-shadow: none;
    }
}

@keyframes flicker {
    from {
        opacity: 1;
    }

    4% {
        opacity: 0.9;
    }

    6% {
        opacity: 0.85;
    }

    8% {
        opacity: 0.95;
    }

    10% {
        opacity: 0.9;
    }

    11% {
        opacity: 0.922;
    }

    12% {
        opacity: 0.9;
    }

    14% {
        opacity: 0.95;
    }

    16% {
        opacity: 0.98;
    }

    17% {
        opacity: 0.9;
    }

    19% {
        opacity: 0.93;
    }

    20% {
        opacity: 0.99;
    }

    24% {
        opacity: 1;
    }

    26% {
        opacity: 0.94;
    }

    28% {
        opacity: 0.98;
    }

    37% {
        opacity: 0.93;
    }

    38% {
        opacity: 0.5;
    }

    39% {
        opacity: 0.96;
    }

    42% {
        opacity: 1;
    }

    44% {
        opacity: 0.97;
    }

    46% {
        opacity: 0.94;
    }

    56% {
        opacity: 0.9;
    }

    58% {
        opacity: 0.9;
    }

    60% {
        opacity: 0.99;
    }

    68% {
        opacity: 1;
    }

    70% {
        opacity: 0.9;
    }

    72% {
        opacity: 0.95;
    }

    93% {
        opacity: 0.93;
    }

    95% {
        opacity: 0.95;
    }

    97% {
        opacity: 0.93;
    }

    to {
        opacity: 1;
    }
}